<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"] - ServisApp</title>
    <link rel="icon" href="~/images/ServisAppLogo2.png" type="image/png" sizes="16x16">

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Misc CSS -->
    <link rel="stylesheet" href="~/css/misc.css" />
</head>
<body class="hold-transition login-page">
    <a href="https://www.fit.ba/" target="_blank"><img src="~/images/fit-znak-osnovni.png" class="img-fit" alt="FIT Mostar"></a>
    <div class="login-box">
        <div class="login-logo">
            <div class="image">
                <img src="~/images/ServisAppLogo2.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <a href="#"><b>Servis</b>App</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Upišite vaše korisničke podatke</p>
                @RenderBody()
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- jquery-validation -->
    <script src="~/AdminLTE/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/AdminLTE/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
