
@{
    ViewData["Title"] = "404 Page not found";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>404 Error Page</h1>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>
        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Stranica nije pronađena.</h3>
            <p>
                Nismo mogli pronaći stranicu koju ste tražili.
                U međuvremenu se možete vratiti na <a asp-area="" asp-controller="Home" asp-action="Index">početnu stranicu</a> ili u meniju sa lijeve strane odabrati neku drugu opciju.
            </p>
        </div>
    </div>
</section>