
@{
    ViewData["Title"] = "Objekti";
}

@model ServisApp.Areas.OrganizatorModul.ViewModels.ObjekatDodajVM

@section Scripts {
    <script>
        var settings = {
            validClass: "is-valid",
            errorClass: "is-invalid"

        };
        $.validator.setDefaults(settings);
        $.validator.unobtrusive.options = settings;

        $(".select2bs4").select2({
            theme: 'bootstrap4'
        })

        $("select").on("select2:close", function () {
            $(this).valid();
        });
    </script>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Objekti</h1>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Dodavanje novog objekta</h3>
                    </div>
                    <form role="form" asp-action="Snimi" method="post" class="needs-validation" novalidate>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Naziv">Naziv</label>
                                        <input asp-for="Naziv" class="form-control" />
                                        <span asp-validation-for="Naziv" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Ulica">Ulica</label>
                                        <input asp-for="Ulica" class="form-control" />
                                        <span asp-validation-for="Ulica" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="KontaktOsoba">Kontakt osoba</label>
                                        <input asp-for="KontaktOsoba" class="form-control" />
                                        <span asp-validation-for="KontaktOsoba" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="KlijentId">Klijent</label>
                                        <select asp-for="KlijentId" asp-items="@Model.Klijent" class="form-control select2bs4" style="width: 100%;">
                                            <option value="0">(odaberite klijenta)</option>
                                        </select>
                                        <span asp-validation-for="KlijentId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="MjestoId">Lokacija</label>
                                        <select asp-for="MjestoId" asp-items="@Model.Mjesto" class="form-control select2bs4" style="width: 100%;">
                                            <option value="0">(odaberite lokaciju objekta)</option>
                                        </select>
                                        <span asp-validation-for="MjestoId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="KontaktBrojFiksni">Fiksni telefon</label>
                                        <input asp-for="KontaktBrojFiksni" class="form-control" />
                                        <span asp-validation-for="KontaktBrojFiksni" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="KontaktBrojMobitel">Mobitel</label>
                                        <input asp-for="KontaktBrojMobitel" class="form-control" />
                                        <span asp-validation-for="KontaktBrojMobitel" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="KontaktEmail">Email</label>
                                        <input asp-for="KontaktEmail" class="form-control" />
                                        <span asp-validation-for="KontaktEmail" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-outline-primary">Snimi</button>
                                <a class="btn btn-outline-secondary float-right" asp-action="Index">Nazad</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>